.settings-dialog {
    margin: 100px auto;
    width: max(60%, 750px);
    margin-bottom: 100px;
    border-radius: 0.5rem;
    padding: 0;
    border: 4px solid hsla(0, 100%, 100%, 0.25);
    color: hsla(225, 15%, 40%, 1);
    background-color: transparent;
}
.dialog-body {
    background-color: white;
    padding: 1.5rem 2.25rem;
    min-height: 150px;
    max-height: calc(100vh - 250px);
    overflow: scroll;
}
[theme=dark] .dialog-body {
    color: var(--text-primary, hsla(225, 15%, 40%, 1));
    background: var(--ui-primary, hsla(215, 100%, 95%, 1));
}
.settings-dialog::backdrop {
    background-color: var(--ui-modal-overlay, hsla(194, 100%, 65%, 0.9));
}
.dialog-banner {
    width: 100%;
    height: 3.125rem;
    background-color: hsla(194, 100%, 50%, 1);
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
}
[theme=dark] .dialog-banner {
    background-color: #009CCC;
}
.dialog-cancel {
    position: absolute;
    right: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    box-shadow: 0 0 0 2px var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
    border: none;
}
.dialog-cancel:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 0 4px var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
}
.dialog-cancel img {
    width: 0.75rem;
    height: 0.75rem;
    transform-origin: 50%;
    transform: rotate(45deg);
}
.option-wrapper {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
}
.option-wrapper:has(input:checked) {
    background-color: #dbebff;
}
[theme=dark] .option-wrapper:has(input:checked) {
    background-color: #16202c;
}
.option-wrapper:hover {
    background-color: #cadef5;
}
[theme=dark] .option-wrapper:hover {
    background-color: #202f41;
}
.settings-dialog input[type=checkbox] {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transition: background-color .2s normal;
    background-color: white;
    background-size: 100%;
    border: 1px solid rgb(92, 92, 92);
    margin-right: 0.5rem;
}

.settings-dialog input[type=checkbox]:focus,
.settings-dialog input[type=checkbox]:active {
    box-shadow: 0 0 0 3px hsla(194, 100%, 50%, 0.35);
}
.settings-dialog input[type=checkbox]:hover,
.settings-dialog input[type=checkbox]:checked,
.settings-dialog input[type=checkbox]:focus,
.settings-dialog input[type=checkbox]:active {
    border-color: hsla(194, 100%, 50%, 1);
}
.settings-dialog input[type=checkbox]:checked {
    background-color: hsla(194, 100%, 50%, 1);
    background-image: url('data:image/svg+xml;base64,PCEtLSBodHRwczovL2FrYXJpY29ucy5jb20vIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGFyaWEtaGlkZGVuPSJ0cnVlIiBmb2N1c2FibGU9ImZhbHNlIiB3aWR0aD0iMWVtIiBoZWlnaHQ9IjFlbSIgc3R5bGU9Ii1tcy10cmFuc2Zvcm06IHJvdGF0ZSgzNjBkZWcpOyAtd2Via2l0LXRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7IHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBtZWV0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiPjxwYXRoIGQ9Ik00IDEybDYgNkwyMCA2IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvZz48L3N2Zz4=');
}

.settings-dialog input[type="text"],
.settings-dialog input[type=number] {
    width: 80px;
    margin: 3px 8px;
        height: 2rem;
    padding: 0 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;
    color: var(--text-primary, hsla(225, 15%, 40%, 1));

    border-width: 1px;
    border-style: solid;
    border-color: var(--text-primary, hsla(225, 15%, 40%, 1));
    border-radius: 2rem;

    outline: none;
    cursor: text;
    transition: 0.25s ease-out; /* @todo: standardize with var */
    box-shadow: none;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
.settings-dialog input[type="text"]:hover,
.settings-dialog input[type=number]:hover {
    border-color: hsla(194, 100%, 50%, 1);
}
[theme=dark] .settings-dialog input[type="text"]:hover,
[theme=dark] .settings-dialog input[type=number]:hover {
    border-color: #009CCC;
}
.settings-dialog input[type="text"]:focus,
.settings-dialog input[type=number]:focus {
    border-color: hsla(194, 100%, 50%, 1);
    box-shadow: 0 0 0 3px hsla(194, 100%, 50%, 0.35);
}
[theme=dark] .settings-dialog input[type="text"]:focus,
[theme=dark] .settings-dialog input[type=number]:focus {
    border-color: #009CCC;
    box-shadow: 0 0 0 3px hsla(194, 100%, 50%, 0.35);
}

.settings-dialog input[type="submit"] {
    margin-left: 0.5rem;
    background-color: hsla(194, 100%, 50%, 1);
    border: hsla(194, 100%, 50%, 1);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    float: right;
    font-weight: 600;
}

.option-header {
    margin: 0.5rem 0 0 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.option-header div {
    flex-grow: 1;
    margin-left: 1rem;
    border-top: 1px dashed var(--ui-tertiary, hsla(215, 50%, 90%, 1));
}